<table class="forumsmb">
<tr>
<td class="caption3"><!--desktop--><a href="{$main_url}/{$startIndex}" class="mnblnk">{$sitename}</a> / <!--/desktop-->{$l_ban}</td>
</tr>
</table>

<form action="{$main_url}/{$indexphp}" method="post" class="formStyle">
<table class="tbTransparentmb">

<tr><td class="tbTransparentCell prfW1">

<span class="txtNr">{$l_enterIP}:</span>
{$brtag}
<input type="text" maxlength="50" size="30" name="banip" value="{$banip}" class="textForm" />
{$brtag}

<span class="txtNr">{$l_banReason}:</span>
{$brtag}
<input type="text" maxlength="255" size="30" name="banreason" value="{$banreason}" class="textForm" />

<input type="hidden" name="step" value="banUsr2" />
<input type="hidden" name="action" value="banip" />
{$brtag}{$brtag}
<input type="submit" value="{$l_ban}" class="inputButton" />
<span class="txtSm">{$brtag}{$brtag}<a href="{$main_url}/{$indexphp}action=banip&amp;step=deleteban1" class="mnblnk">{$l_unsetBan}</a></span>
</td>

<td class="tbTransparentCell prfW2 vTop"><span class="warning">{$warning}&nbsp;</span></td>

</tr>
</table>
</form>