<table class="tbTransparent"><tr><td class="tbTransparentCell"><span class="warning">{$warning}</span></td></tr></table>

<table class="forumsmb">
<tr><td class="tbTransparentCell"><h1 class="headingTitle">{$l_forums}</h1></td></tr>
<tr>
<td class="caption5 prfW2 vTop"><!--<a href="{$main_url}/{$bb_admin}action=archiveswitch1" class="mnblnk">{$l_arcForumArchives}</a> | -->{$addArcMark}
<ul class="limbb">
<li><a href="{$main_url}/{$bb_admin}action=addforum1{$addArcUrl}" class="mnblnk">{$l_addforum}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=editforum1{$addArcUrl}" class="mnblnk">{$l_editforum}</a></li>
</ul>
</td>
</tr>

<table class="forumsmb">
<tr><td class="tbTransparentCell"><h1 class="headingTitle">{$l_users}</h1></td></tr>
<tr>
<td class="caption5 prfW2 vTop">
<ul class="limbb">
<li><a href="{$main_url}/{$bb_admin}action=searchusers" class="mnblnk">{$l_searchUsers}</a></li>
<li><a href="{$main_url}/{$indexphp}action=banip&amp;step=deleteban1" class="mnblnk">{$l_unsetBan}</a></li>
<li><a href="{$main_url}/{$indexphp}action=removeuser" class="mnblnk">{$l_removeUser}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=delsendmails1" class="mnblnk">{$l_deleteSendmails}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=exportemails" class="mnblnk">{$l_exportEmails}</a></li>
</ul>
</td>
</tr>
</table>

<table class="forumsmb">
<tr><td class="tbTransparentCell"><h1 class="headingTitle">{$l_admin}</h1></td></tr>
<tr>
<td class="caption5 vTop">
<ul class="limbb">
<li><a href="{$main_url}/{$bb_admin}action=restoreData" class="mnblnk">{$l_restoreDataAdmin}</a></li>
</ul>
</td>
</tr>
</table>

<table class="forumsmb">
<tr><td class="caption5">miniBB&reg; <b>{$version}</b></td></tr>
</table>