<table class="tbTransparent">
<tr>
<td colspan="3" class="noWrap txtL">{$l_adminpanel_link}&nbsp;</td>
</tr>
<tr>
<td style="padding-right:10px"><!--miniBB Copyright link. You are not allowed to remove it if you have not purchased the Commercial License. Refer to COPYING file for more-->{$violating_the_copyright_may_result_in_your_criminal_responsibility}<!--End of copyright link--></td>
</tr>
</table>

<!--scrollTop-->
<div id="scrolltop" class="scroll-to-top"><a href="javascript:scrollToTop();" class="mnblnk mnblnkn">&nbsp;&uArr;&nbsp;</a></div>
<!--/scrollTop-->

</body>
</html>
