<!doctype html>
<html lang="en">
<head>
<title>{$title}</title>
<meta name="ROBOTS" content="{$metaRobots}" />
{$l_meta}
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="Description" content="{$description}" /> 
<meta name="Keywords" content="build make start my own free custom paid web discussion easy small mini forum software download site web best bulletin board boards bb php online mysql database mod rewrite mod_rewrite open source gpl customize integrate seo google search engine embed postgresql" /> 
{$fontsCSS}
<link href="{$main_url}/css/{$skin}.css" type="text/css" rel="stylesheet" />
<script async src="{$main_url}/templates/common.js"></script>
</head>
<body class="gbody">
<a id="top"></a>

<table class="forums">
<!--topSlogan-->
<tr>
<td colspan="2" class="capMenu txtL txtSm"><span class="txtSm">{$sitename}</span></td>
</tr>
<!--/topSlogan-->
<tr>
<td class="captionTitle vmiddle noWrap" style="padding-right:0px;padding-top:18px;padding-bottom:18px"><a href="{$site_url}/" class="mnblnkn"><img src="{$main_url}/img/minibb.png" style="width:32px;height:13px" alt="miniBB &reg;" title="miniBB &reg;" /></a>&nbsp;<h1 class="headingTitle" style="display:inline"><a href="{$site_url}/" class="mnblnk mnblnkn">miniBB</a></h1><sup class="txtNr sepr" style="padding-left:2px;font-size:15px">&reg;</sup></td>
<td class="captionTitle txtR noWrap w100">&nbsp;<!--titleRight-->&nbsp;<!--/titleRight--></td>
</tr>
</table>

<!--topmenu-->
<table class="forumsmb">
<tr>
<td class="capMenu">&nbsp;{$l_sepr}&nbsp;{$l_menu[0]}{$l_menu[2]}{$l_menu[5]}{$l_menu[7]}{$l_menu[1]}{$l_menu[3]}{$l_menu[4]}{$l_menu[6]}</td>
</tr>
</table>
<!--/topmenu-->