<table class="forumsmb">
<tr>
<td class="caption3"><h1 class="headingTitle"><a href="{$linkToForums}" class="mnblnk mnblnkn">{$sitename}</a></h1></td></tr>
<!--pageNav-->
<tr>
<td>{$brtag}{$pageNavExtra}{$brtag}</td>
</tr>
<!--/pageNav-->
</table>

{$specialThreads}
{$list_topics}

<!--pageNav-->
{$brtag}
<table class="tbTransparentmb">
<tr>
<td class="tbTransparent txtL vmiddle">{$pageNavExtra}&nbsp;</td>
<td class="tbTransparentCell txtR noWrap">{$searchBox}</td>
</tr>
</table>
<!--/pageNav-->