<table class="tbTransparent">
<tr>
<td class="rdficon tcell"><a href="{$linkToTopic}" class="mnblnkn">{$topicIcon}</a></td>
<td class="tbTransparent txtL tcell" style="width:100%">{$topic_reverse}<strong><a href="{$linkToTopic}" class="mnblnk">{$topicTitle}</a></strong>{$pageNavCell}</td>
<td class="tbTransparent txtL tcell vmiddle"><span class="views"><abbr title="{$l_views}: {$topic_views}" class="accr">{$topic_views}</abbr></span>&nbsp;&nbsp;<span class="replies"><abbr title="{$l_replies}: {$numReplies}" class="accr">{$numReplies}</abbr></span></td>
</tr>
</table>
<table class="tbTransparent">
<tr>
<td class="tbTransparent txtL tcelllast tcellpn"><img src="{$main_url}/img/t.gif" class="authorIcon" alt="{$l_author}" title="{$l_author}" />&nbsp;{$topicAuthor}&nbsp;&nbsp;<span class="txtSm">{$whenPosted}</span></td>
<td class="tbTransparent txtR tcell tcelllast noWrap">{$lastPoster}&nbsp;&nbsp;<span class="txtSm">{$lastPostDate}&nbsp;&nbsp;</span>{$LinkToLastPostInTopic}</td>
</tr>
</table>
